---
import Layout from "../layouts/Layout.astro";

function getChecklistUrl(
  name: string,
  items: { title: string; subtitle?: string }[]
) {
  const url = new URL("https://calvin.sh/tools/checklist");
  const searchParams = new URLSearchParams();
  searchParams.set("name", name);
  searchParams.set("items", JSON.stringify(items));
  url.hash = searchParams.toString();

  return url.toString();
}

const checklists: {
  tag?: "UBC";
  name: string;
  items: { title: string; subtitle?: string }[];
}[][] = [
  [
    {
      tag: "UBC",
      name: "Setup",
      items: [
        {
          title: "Set up space",
          subtitle: "arrange seating, prepare materials",
        },
        {
          title: "Set up computer",
          subtitle:
            "open session board, pick a QOTD, prepare any presentations",
        },
        {
          title: "Start session on time",
          subtitle: "if there are more than 5 people in the room",
        },
      ],
    },
  ],
  [
    {
      tag: "UBC",
      name: "Start Session",
      items: [
        { title: "Welcome everyone" },
        {
          title: "Introduce UBC AI Safety",
          subtitle: "brief overview of the organization and session goals",
        },
        {
          title: "Intro format",
          subtitle:
            "name, what you are working on, and your answer to the QOTD",
        },
        {
          title: "Start intros by example",
          subtitle: "lead by example to set the tone",
        },
      ],
    },
    {
      tag: "UBC",
      name: "After Intros",
      items: [
        {
          title: "Work format",
          subtitle: "50 minute work, 10 minute break, 50 minute work, demos",
        },
        {
          title: "Demo format",
          subtitle: "demos are 30s to 2m, a host will come around and ask",
        },
        {
          title: "Facilities info",
          subtitle: "water, bathroom, etc.",
        },
      ],
    },
  ],
  [
    {
      tag: "UBC",
      name: "Before Demos",
      items: [
        {
          title: "Ordering",
          subtitle: "put first time demoers in the middle or end",
        },
        {
          title: "Set up timer",
          subtitle:
            "open session timer to keep demos on track",
        },
      ],
    },
    {
      tag: "UBC",
      name: "After Demos",
      items: [
        { title: "Thank everyone for coming!" },
        {
          title: "Share resources",
          subtitle: "ubcaisafety.org for more information",
        },
        { title: "Group photos", subtitle: "for social media" },
      ],
    },
  ],
  [
    {
      tag: "UBC",
      name: "Teardown",
      items: [
        { title: "Clean up space" },
        { title: "Pack up materials" },
        { title: "Turn off equipment" },
      ],
    },
  ],
];
---

<Layout title="Checklists - UBC AI Safety">
  <main>
    <h1>UBC AI Safety Session Checklists</h1>

    {
      checklists.map((checklist) => (
        <ul>
          {checklist.map((item) => (
            <li>
              <a
                href={getChecklistUrl(item.name, item.items)}
                data-tag={item.tag}
              >
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      ))
    }
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    height: 100vh;

    padding: 1rem;
  }


  h1 {
    margin-bottom: 1rem;
  }

  ul {
    margin: 3rem 0;
    font-size: 1.3rem;
  }

  li {
    margin: 1rem 0;
  }

  a {
    color: black;
  }
</style>
