---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tools - UBC AI Safety">
  <main>
    <h1>UBC AI Safety Tools</h1>

    <ul>
      <li>
        <a href="/">Session Board & Timer</a>
      </li>
      <li>
        <a href="/spectrum">Spectrum Activity</a>
      </li>
      <li>
        <a href="/checklists">Checklists</a>
      </li>
      <li>
        <a href="/qr">QR Code Generator</a>
      </li>
    </ul>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    height: 100vh;

    padding: 1rem;
  }

  ul {
    margin: 3rem 0;
    font-size: 1.3rem;
  }

  li {
    margin: 1rem 0;
  }

  a {
    color: black;
  }
</style>
